<a href="https://colab.research.google.com/github/agatagruza/private-ai/blob/master/Python_Challenge_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Will print every other elemnt
# a[START:END:STEP]
# START defaults to 0; END defaults to len(a); STEP is a loop stepping
a=[1,2,3,4,5,6,7,8,9]
print(a[::2])

[1, 3, 5, 7, 9]

In [0]:
a=[1,2,3,4,5,6,7,8,9]
a[::2]=10,20,30,40,50,60
print(a)

ValueError: ignored

In [0]:
# [::-1] will reverse the list. It doesn't change array. It reates a shallow copy
a=[1,2,3,4,5]
print(a[3:0:-1])

[4, 3, 2]

In [0]:
# Self explanatory
def f(value, values):
  v = 1
  values[0] = 44
t = 3
v = [1, 2 , 3]
f(t, v)
print(t, v[0])

3 44

In [0]:
data = [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
def fun(m):
  v = m[0][0]
  
  for row in m:
    for element in row:
      if v < element: v = element
        
  return v
print(fun(data[0]))

4

In [0]:
# The pop() method removes the item at the given index from the list.
# If no parameter is passed, index -1 will return the last item.
arr = [[1,2,3,4],
       [4,5,6,7],
       [8,9,10,11],
       [12,13,14,15]]
for i in range(0, 4):
  print(arr[i].pop())

4
7
11
15

In [0]:
def f(i, values = []):
  values.append(i)
  print (values)
  return values
f(1)
f(2)
f(3)

[1]
[1, 2]
[1, 2, 3]

[1, 2, 3]

In [0]:
arr = [1, 2, 3, 4, 5, 6]
for i in range(1, 6):
  arr[i - 1] = arr[i]
for i in range(0, 6):
  print(arr[i], end = " ")

2 3 4 5 6 6

In [0]:
fruit_list1 = ['Apple', 'Berry', 'Cherry', 'Papaya']
fruit_list2 = fruit_list1
fruit_list3 = fruit_list1[:]

fruit_list2[0] = 'Guava'
fruit_list3[1] = 'Kiwi'
print ("list1") 
print(fruit_list1)
print ("list2") 
print(fruit_list2)
print ("lis3") 
print(fruit_list3)

sum = 0
for ls in (fruit_list1, fruit_list2, fruit_list3):
  if ls[0] == 'Guava':
    sum += 1
  if ls[1] =='Kiwi':
    sum += 20
    
print (sum)

list1
['Guava', 'Berry', 'Cherry', 'Papaya']
list2
['Guava', 'Berry', 'Cherry', 'Papaya']
lis3
['Apple', 'Kiwi', 'Cherry', 'Papaya']
22